@model CustomIdentityApp.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Rgister Page";
}

<form class="register_form" method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <input class="register_email" placeholder="Email" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <input class="register_pass" placeholder="Введи пароль" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input class="registr_repass" placeholder="Повтори пароль" asp-for="PasswordConfirm" />
    </div>
    <div>
        <input class="register_btn" type="submit" value="Регистрация" />
    </div>
</form>
