@using Microsoft.AspNetCore.Identity
@model CustomIdentityApp.ViewModels.ChangeRoleViewModel
 
<section class="roles_edit">
    <div class="wrapper">
        <div class="roles_edit_wrapper">
            <div class="roles_edit_form">
                <form asp-action="Edit" method="post">
                    <input type="hidden" name="userId" value="@Model.UserId" />
                    <div class="edit_form-group">
                        @foreach (IdentityRole role in Model.AllRoles)
                        {
                            <input type="checkbox" name="roles" value="@role.Name" @(Model.UserRoles.Contains(role.Name) ?"checked=\"checked\"" : "") />
                            <p>@role.Name</p><br />
                        }
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</section>