@model CustomIdentityApp.Models.Orders

<form class="order" asp-action="orders" asp-controller="home">
    <h2 class="order_title">Оставь заявку здесь</h2>
    <input class="order_container-email" placeholder="Твой email" type="text" asp-for="Email" />
    <textarea placeholder="Comment..." class="order_container-text" asp-for="Comment"></textarea>
    <button type="submit" class="order_container-btn">Отправить</button>
</form>
